:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --bg-color-button: #188ce8;
  --background-team-buttons: #f5f4fa;
  --text-black: #000000;
  --mail-tel-color: rgba(255, 255, 255, 0.6);
}

/* utils */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--title-text-color);
  background-color: var(--white-color);
}

/* container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* .header {
  background-color: #000000;
} */

/* main nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  margin-right: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-black);
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

/* site nav */

.site-nav {
  display: flex;
}

.site-nav > .item {
  margin-right: 50px;
}

.site-nav > .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts > .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--background-color);
}

/* .hero .container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
} */

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* padding: 0 452px; */
  color: var(--white-color);
}

.button {
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--bg-color-button);
}

/* скрытие заголовка */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* качества */

.list-works {
  display: flex;
  margin: 95px 0;
}

.list-works .item + .item {
  margin-left: 30px;
}

.section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.title {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* featurs */

.featurs-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.featurs-list,
.team-list {
  display: flex;
}

.featurs-list .item + .item {
  margin-left: 30px;
}

/* Team */

.team {
  background-color: var(--background-team-buttons);
}

.image-list {
  background-color: var(--white-color);
}
.team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .item + .item {
  margin-left: 30px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* footer */

.footer {
  background-color: var(--background-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-color);
  text-decoration: none;
}

.address-list .map {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.address-list .mail-tel {
  font-style: normal;
  line-height: 1.71;
  color: var(--mail-tel-color);
  text-decoration: none;
}

.address-list .mail-tel:hover,
.address-list .mail-tel:focus {
  color: var(--accent-color);
}

/* Портфолио */

/* кнопки-фильтры */

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-team-buttons);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* active button */

.active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project {
  background-color: var(--white-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
